*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
app/src/main/assets/models/
taxiapp/build/
taxiapp/keystore.properties
*.jks
*.keystore
!taxiapp/debug.keystore
